/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    margin: 0 !important;
    font-family: 'Lato', sans-serif;
    background-color: rgb(255, 255, 255) !important;
}
