<mat-sidenav-container class="drawer-container background">
        <mat-sidenav mode="side" opened class="background">
                <div class="sidenav-container">
                        <img src="../../assets/img/logo.png" class="img-logo">
                </div>
                <div class="size">
                        <img src="../../assets/img/bulb.png">
                        Smart Filters
                </div>
                <mat-divider class="divider"></mat-divider>
                <div class="sidenav-container">
                        <img src="../../assets/img/sale.png" class="img-Slide">
                        <mat-slide-toggle class="slide"></mat-slide-toggle>
                        <img src="../../assets/img/cal.png" class="img-Slide">
                        <mat-slide-toggle color="link"></mat-slide-toggle>
                        <img src="../../assets/img/heart.png" class="img-Slide">
                        <mat-slide-toggle color="link"></mat-slide-toggle>
                </div>
                <mat-divider class="divider"></mat-divider>
                <div class="size">
                        <span class="font">Status</span>
                        <mat-form-field appearance="outline" class="input-search">
                                <mat-label>
                                        <mat-icon aria-hidden="false">search</mat-icon> Search
                                </mat-label>
                                <input matInput>
                        </mat-form-field>
                        <button mat-raised-button class="button">DELIVERED</button>
                </div>
        </mat-sidenav>
        <mat-sidenav-content class="padd">
                <mat-toolbar class="menu">
                        <button mat-button class="menu_icon">
                                <img src="../../assets/img/home.png">
                        </button>
                        <button mat-button class="menu_icon">
                                <img src="../../assets/img/mensaje.png">
                        </button>
                        <button mat-button class="menu_icon">
                                <img src="../../assets/img/estrella.png">
                        </button>
                        <button mat-button class="menu_icon">
                                <img src="../../assets/img/ajustes.png">
                        </button>
                        <button mat-button class="menu_icon">
                                <img src="../../assets/img/account.png">
                        </button>
                </mat-toolbar>
                <mat-form-field appearance="outline" class="input-search2">
                        <mat-label>
                                <mat-icon aria-hidden="false">search</mat-icon> Search
                        </mat-label>
                        <input matInput>
                </mat-form-field>
                <mat-card class="border-div">
                        <div class="container">
                                <div class="row">
                                        <div class="col-2">
                                                Monday 10<sup>th</sup> 2:28 pm

                                        </div>
                                        <mat-divider [vertical]="true"></mat-divider>
                                        <div class="col-4">
                                                2 of 3 (wider)
                                        </div>
                                        <mat-divider [vertical]="true"></mat-divider>
                                        <div class="col">
                                                3 of 3
                                        </div>
                                </div>
                        </div>
                        <mat-divider [vertical]="true"></mat-divider>

                </mat-card>

        </mat-sidenav-content>

</mat-sidenav-container>